enabled: false
sender:
  fromName: Test
  fromEmail: test@example.com
  replyTo: noreply@example.com
  configurationSetName: test-configuration-set
  sesRegion: us-east-1
  sesVerifiedDomain: example.com
